.composeContainer
    position: fixed;
    display: flex;
    flex-direction: row;
    bottom: 0;
    background: red;
    min-height: 62px;
    width: 100%;
    background-color: #A2B9D2;

.composeMenus
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    cursor: pointer;
    margin: 20px 20px;

.field
    margin: 10px 20px;

.input
    height: 45px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 0px 20px;
    min-width: 50vw;
    font-size: 16px;
    outline: none;
