.messageContainer
    padding-right: 9%;
    padding-left: 9%;
    margin-bottom: 12px;
    margin-top: 12px;
    position: relative;
    display: flex;
    flex-direction: row;
    
.messageBox
    background-color: #d9fdd3;
    padding: 6px 9px 8px 9px;
    display: inline
    word-wrap: break-word;
    max-width: 400px;
    height: auto;
    border-radius: 4px 0px 4px 4px;

.messageOut
    justify-content: flex-end;
    
    