.chatItemContainer
    display: flex;
    flex-direction: column;
    height: 80vh
    overflow: hidden;
    border-top: 1px solid #f0f2f5;
    font-family: Helvetica, sans-serif;

.chatItemFlex
    display: flex;
    flex-direction: row;
    min-height: 50px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;

.chatItemFlex:hover
    background: #f0f2f5;

.chatItemLogo
    display: flex;
    width: 50px;
    cursor pointer;
    height: 50px;

.chatItemDetails
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 6px;
    margin-left: 10px;
    border-bottom: 1px solid #f0f2f5;

    