.recycler
    display: flex;
    flex-direction: column;
    height: 80vh
    overflow: hidden;
    border-top: 1px solid #ccc;

.recyclerItem
    height: 50px;
    padding: 6px 10px;
    background-color: #e4eaf1;
    border-bottom: 1px solid #ccc;
    cursor pointer;
    